.Profile {
    width: 100%;
    padding-top: var(--gutter);

    .Profile--details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .Profile--details .MuiTypography-body1 {
        text-transform: capitalize;
    }

    .Profile--orientation {
        display: flex;
        justify-content: space-around;
    }

    .profile-stats {
        display: flex;
        width: 100%;
        padding: var(--gutter);
        text-align: center;
    }

    .profile-stats>div {
        flex: 1 1 100%;
    }
}