.Profile {
    width: 100%;
    padding-top: var(--gutter);

    .Profile--details {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .Profile--header {
        padding: 0 var(--gutter);
    }

    .profile-post {
        padding: var(--gutter);
        ;
    }

    .Profile--details .MuiTypography-body1 {
        text-transform: capitalize;
        text-align: center;
        line-height: 20px;
    }

    .Profile--orientation {
        display: flex;
        justify-content: space-around;

        .active {
            color: var(--theme);
        }
    }

    .w-full {
        padding: var(--gutter);
    }

    .profile-action {
        gap: var(--gutter);
        display: flex;
    }

    .profile-action>button {
        flex: 1 1 100%;
    }


    .profile-stats {
        display: flex;
        width: 100%;
        padding-bottom: var(--gutter);
        text-align: center;
    }

    .profile-stats>div {
        flex: 1 1 100%;
    }


}