.post-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--gutter);

    .comment-section {
        padding-bottom: 50px;
    }

    .comment-section-container {
        display: flex;
        flex-direction: column;
    }

    .add-new-comment {
        display: flex;
        padding: var(--gutter) 0;
        justify-content: space-between;

        input {
            border-bottom: 1px solid;
            outline: none;

            &:focus {
                outline: none;
                border-bottom: 2px solid var(--theme);
            }
        }
    }

    .comment-text {
        display: flex;
        gap: calc(var(--gutter) / 2);
        flex-direction: column;

        .post-profile-name {
            text-align: left;

        }

        .time {
            font-size: 10px;
            color: #baadc6;
        }
    }

    .commet-container {
        display: flex;
        justify-content: space-between;
        width: 100%;


    }

    .comment-text-section {
        display: flex;
        gap: var(--gutter);

    }
}