.homepage {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    overflow-y: auto;
    width: 100%;
    padding: var(--gutter);
    margin-bottom: calc(var(--gutter) * 4);


    .post-container {
        margin-bottom: calc(var(--gutter) * 2);
    }
}