.layout-container {
    padding: 0 var(--gutter);
    padding-top: 60px;
    display: flex;
    min-height: calc(100vh - var(--header-height));
}

.layout {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.layout footer {
    position: sticky;
    width: 100%;
    color: var(--black);
    height: var(--header-height);
    background-color: var(--white);
    bottom: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    display: flex;
    position: fixed;

}

footer a {
    flex: 1 1 0px;

}