.layout {
    height: 100dvh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    .layout-container {
        margin-top: 60px;
        display: flex;
        min-height: calc(100dvh - var(--header-height));
        width: 100%;
        align-content: center;
        justify-content: center;
    }

    footer {
        width: 100%;
        color: var(--black);
        height: var(--header-height);
        background-color: var(--white);
        bottom: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, .2);
        display: flex;
        position: fixed;
    }

    footer a {
        flex: 1 1 0px;
        justify-content: center;
        display: flex;
    }

    footer a.active {
        color: var(--theme);
    }
}