.search-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;

    .MuiPaper-root {
        margin-bottom: calc(var(--gutter) / 2);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    .search-list {
        position: absolute;
        top: 65px;
        width: calc(100% - 32px);
        background: white;
        z-index: 1;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }
}