@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home-page {
  display: flex;
  flex-direction: column;
}